/TAGameClient/Intermediate
/TAGameClient/Saved
/TAGameClient/.vs
/TAGameClient/Binaries
/TAGameClient/DerivedDataCache
/TAGameClient/TAGameClient.sln
/TAGameClient/Content
*.db
*.ipch
*.exe
*.obj
*.ilk
*.pdb
*.tlog
*.log
*.idb
*.db-shm
*.db-wal
*.opendb
*.gitignore.orig
*.enc