<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Root>
	<SectorZoneEventData Description="사막 구역 섹터에 대한 정보" ZoneType="Desert" BasicEventGameDataKeySet="1,2" SpecialEventGameDataKeySet="3,4" SpecialEventConditionGameDataKeySet="3,3"/>
	<SectorZoneEventData Description="숲 구역 섹터에 대한 정보" ZoneType="Forest" BasicEventGameDataKeySet="1,2" SpecialEventGameDataKeySet="3,4" SpecialEventConditionGameDataKeySet="3,3"/>
</Root>