// RealWorld는 무조건 스폰되는 월드 소멸시에도 일정시간후 다시 스폰이 보장된다.
// 여기에 추가 되지않은 그룹은 모드 TempWorld로 들어가며 필요에 의해 스폰될 수 있다.
// 아무런 element, attribute없이 끝내려면 공백을 줘야한다. <DesertLevel_Main />

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Root>
	<RealWorld>
		<DesertLevel_Main />
		<ForestLevel_Main />
	</RealWorld>
</Root>